*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
html, body{
	
	height: 100%;
	max-width: 640px;
	margin: 0 auto;
}

.swiper-container1{
	width:100%;
	height:300px;
}
.swiper-slide{
	background-size: 100% 100%;
}
#box{
	max-width: 640px;
	min-width: 320px;
}
#header{
	width: 100%;
}

#header_bar{
	width: 100%;
	max-width: 640px;
	height: 38px;
	line-height: 38px;
	position: fixed;
	z-index: 100;
}
#logo{
	display: inline-block;
	width:70px;
	height: 35px;
	background: url(../img/jd-sprites.png) 0 -133px no-repeat;
	background-size: 250px 250px;
}
#migin{
	width: 35px;
	height: 35px;
	display: inline-block;
	position: absolute;
	left: 26%;
	background: url(../img/jd-sprites.png) -70px -132px no-repeat;
	background-size: 250px 250px;
	z-index: 5;
}
#search{
	width: 45%;
	height: 30px;
	line-height: 30px;
	border: none;
	border-radius: 30px;
	padding-left: 12%;
	position: absolute;
	top: 4px;
	left: 25%;
}
#login{
	position: absolute;
	left: 85%;
	color: #FFFFFF;
	font-size: 15px;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
}
#bg_bar{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	z-index: -10;
	opacity: 0;
	
}
#content{
	margin-top: 20px;
}
#kind{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#kind div{
	width: 25%;
	text-align: center;
	margin-bottom: 10px;
}
#kind div img{
	width: 50%;
}
#kind a{
	display: block;
	color: #000000;
	font-size: 14px;
}
#kind a:hover{
	color: red;
}
#seckill{
	width: 100%;
	
}
#more{
	width: 100%;
	height: 46px;
	position: relative;
	
}
#count_down{
	width: 40px;
	height: 46px;
	display: inline-block;
	background: url(../img/jd-sprites.png) -166px -216px no-repeat;
}
#zskill{
	position: absolute;
	left: 50px;
	top: 20px;
}
#more a{
	color: #000000;
	position: absolute;
	right: 20px;
	top: 20px;
}
.foods{
	width: 100%;
	border-bottom: 1px solid red;
}
#jdshop{
	width: 100%;
	overflow: hidden;
	position: relative;
	font-size: 25px;
}
#jdshop img{
	width: 33.3333%;
	float: left;
}
#money1{
	position: absolute;
	left: 5%;
	top:50px;
	z-index: 10;
}
#money2{
	position: absolute;
	left: 38%;
	top:50px;
	z-index: 10;
}
#money3{
	position: absolute;
	left: 72%;
	top:50px;
	z-index: 10;
}
#fbuy img{
	width: 49%;
}
.swiper-container2{
	width:100%;
	height:152px;
}
#other{
	width: 100%;
	
}
#other_left{
	width: 50%;
	float: left;
	height: 450px;

}
#other_left img{
	width: 100%;
}
#other_right{
	width: 50%;
	float: right;
	height: 450px;

}
#other_right img{
	width: 100%;
}
#table_bar{
	width: 100%;
	max-width: 640px;
	position: fixed;
	bottom: 0;
	background: #FFFFFF;
	height: 50px;
	font-size: 0;
	z-index: 3;
}
#table_bar a{
	display: inline-block;
	width: 25%;
	text-align: center;
	height: 50px;
}
#table_bar a img{
	width: 60%;
	height: 100%;
}
#up{
	width: 100%;
	height: 30px;
	max-width: 640px;
	position: fixed;
	bottom: 50px;
	z-index: 9;

}
#toTop{
	width: 30px;
	/*height: 30px;*/
	text-align: center;
	line-height: 30px;
	background: orange;
	border-radius: 50%;
	color: #fff;
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 0;
	-moz-transition: all 2s;
}
